.form-group {
    margin-bottom: 8px;
}
.form-group-vertical {
    label {
        display: block;
    }
}

.help {
    color: $brand-red;
}

.button {
    background-color: white;
    border: solid 1px $brand-color;
    font-family: $brand-font-family-serif;
    padding: 8px 12px;
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}


input, textarea, .stripe-card {
    background-color: white;
    border: solid 1px $brand-color;
    width: 100%;
}

// PHONE
@media (max-width: $mobile-max-width) {
    input, textarea {
        font-size: $font-size-mobile;
    }
    .button {
        font-size: $font-size-mobile;
    }
}
// TABLET
@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    input, textarea{
        font-size: $font-size-tablet;
    }
    .button {
        font-size: $font-size-tablet;
    }
}
// IPAD PRO & DESKTOP
@media (min-width: $desktop-min-width) {
    input, textarea {
        font-size: $font-size-desktop;
    }
    .button {
        font-size: $font-size-desktop;
    }
}


// Payment
.stripe-card.complete {
    border-color: green;
}
.amount-currency-type {
    position: relative;
    margin-right: -10px;
    padding-left: 2px;
    color: $gray;
}
.amount-input {
    padding-left: 9px;
    text-align:left;
    width: 84px;
}
