@import 'layout';
@import 'theme';
@import 'display';
@import 'form';
@import 'icons';

@media (max-width: $mobile-max-width) {
    .small {
        font-size: $font-size-mobile--sm;
    }
}
// TABLET
@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .small {
        font-size: $font-size-tablet--sm;
    }
}
// IPAD PRO & DESKTOP
@media (min-width: $desktop-min-width) {
    .small {
        font-size: $font-size-desktop--sm;
    }
}
