<ifModule mod_rewrite.c>
   RewriteEngine On

   RewriteCond %{SERVER_PORT} 80
   RewriteRule ^(.*)$ https://dylanspurgin.com/$1 [R=301,L]

   RewriteCond %{REQUEST_FILENAME} !\.(js|css|gif|jpg|jpeg|png|ico|swf|pdf|html|php|json)$
   RewriteCond %{REQUEST_URI} !^index
   RewriteCond %{REQUEST_URI} !^/static/server($|/)
   RewriteRule (.*) index.html [L]
</ifModule>
